{{template "header" .}}
{{template "navbar" .}}
<div class="container-fluid py-4">
  <div class="row gx-2">
    <div class="col-1 d-none d-sm-block " style="width: fit-content;">

      <h5
        style="text-align:left;overflow-x:hidden;overflow-y:hidden;width:auto;color:rgb(34, 34, 34);background-color: transparent; display:inline;height:1em;text-transform:lowercase;font-size:91%;">
        Navigation</h5>
      <div class="menu border-1 ">

        <ul>
          {{.Menu}}
        </ul>

      </div>
    </div>

    {{.Size}}
    

      <div class="p-4 border-1">
        <div class="float-end">
          <div class="btn-group btn-group-toggle pull-right" data-toggle="buttons">
            <a class="btn btn-sm btn-outline-secondary" href="edit/{{.Title}}">Edit</a>
            <a class="btn btn-sm btn-outline-secondary" href="/admin">Admin</a>
          </div>
        </div>

        <h1 class="pageTitle">Login</h1>
        <h3>{{.Size}}</h3>

        <div class="contentbod"></div>

        {{/* Render the login form that the handler provides in .Body (so hidden 'next' input is included) */}}
        <div class="login-form">
          {{ .Body }}
        </div>

      </div>
      {{template "footer" .}}
    </div>
    
  </div>
  
</div>
